
.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

h1, h2, h3, .h1, .h2, .h3 {
    font-weight: 400 !important;
    font-family: 'Playball', cursive !important;
}

h4, h5, h6, .h4, .h5, .h6 {
    font-weight: 600 !important;
    font-family: 'Open Sans', sans-serif !important;
    
}

.my-6 {
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 3rem;
}

.bulit_icon {
    width: 100%;
    text-align: center;
}




/*** nav start ***/

.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(#e9bbbb, #ececec,transparent);
    z-index: 100;
    
}
.nav-logo p{
    color: black;
    font-size: 25px;
    font-weight: 600;
}
.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    list-style-type: none;
}
.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #000;
    padding-bottom: 15px;
    margin: 0 25px;
}
.link:hover, .active{
    border-bottom: 2px solid #000;
}
.nav-button .btn{
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}
.btn:hover{
    background: rgba(255, 255, 255, 0.3);
}
#registerBtn{
    margin-left: 15px;
}
.btn.white-btn{
    background: rgba(255, 255, 255, 0.7);
}
.btn.btn.white-btn:hover{
    background: rgba(255, 255, 255, 0.5);
}
.nav-menu-btn{
    display: none;
}


.header .flex .nav ul li ul{
    position: absolute;
    left:0;
    width: 15rem;
    background-color: var(--white);
    animation: fadeIn .2s linear;
    display: none;
 }
 
 .header .flex .nav ul li ul li{
    width: 100%;
 }
 
 .header .flex .nav ul li:hover ul{
    display: inline-block;
 }


 /* -------product drop down --------*/
 .dropbtn {
    
    color: white;
    background: none;
    border: none;
    cursor: pointer;
  }
  
.noHover{
    pointer-events: none;
}

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    
    box-shadow: 0px 8px 16px 0px #e9bbbb;
    z-index: 1;
    border-radius: 8px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 0px 16px 0;
    text-decoration: none;
    display: block;
    
    
  }
  
.dropdown-content a:hover {
    background-color: #f1f1f1;
    
    color: #000;

}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  




/*** Responsive nav ***/
@media only screen and (max-width: 986px){
    .nav-button{
        display: none;
    }
    .nav-menu.responsive{
        top: 100px;
    }
    .nav-menu{
        position: absolute;
        top: -800px;
        display: flex;
        justify-content: center;
        background: #d78373;
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(20px);
        transition: .3s;
    }
    .nav-menu ul{
        flex-direction: column;
        text-align: center;
    }
    .nav-menu-btn{
        display: block;
    }
    .nav-menu-btn i{
        font-size: 25px;
        color: #fff;
        padding: 10px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
    }
    .nav-menu-btn i:hover{
        background: rgba(255, 255, 255, 0.15);
    }
}


/*** categories ***/
.categories{
    float: left;
    
}

.read_bt {
    width: 170px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    display: flex;
}

.read_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #d78373;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #d78373;
    text-transform: uppercase;
    padding: 8px;
}

.read_bt a:hover {
    color: #3b3b3b;
    border: 1px solid #3b3b3b;
}
/*** categories end ***/

/* about section start */

.about_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
    margin-top: 120px;
}

.about_section_2 {
    width: 100%;
    float: left;
    padding-top: 40px;
    margin-left: 100px;
}



.about_taital_box {
    width: 500px;
    float: left;
    background-color: #ffffff;
    height: auto;
    padding: 40px 20px 30px 20px;
    box-shadow: 0px 0px 30px 0px;
    position: absolute;
    top: 1570px;
    margin-top: 50px;
}

.image_iman {
    padding-left: 250px;
    position: relative;
}

.about_img {
    width: 800px;
    height: 400px;
    margin-top: 20px;
}

.about_taital_1 {
    width: 100%;
    float: left;
    font-size: 30px;
    color: #3b3b3b;
}

.about_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #232222;
    margin: 0px;
    text-align: left;
}

.readmore_btn {
    width: 170px;
    float: left;
    margin-top: 20px;
    margin-left: 150px;
}

.readmore_btn a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #d78373;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid #fc947f;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.readmore_btn a:hover {
    color: #4a4949;
    border: 1px solid #4a4949;
}


/* about section end */

/* footer begin */
footer ul li a:hover{
    border-bottom: 1px solid #d78373;
    width: 150px;
}

/*footer end */


/* products begin */


.products .pro-name a{
    
    font-size: 20px;
    color: #767676;
}
.products .pro-name a:hover{
    
    
    color: #d78373;
    border-bottom:1px solid #d78373;
}

.products .pro-title{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    border-bottom: 1px solid #000;
}




/* .cat{
    border: 1px solid #c8c8c8;
   
    padding: 20px;
    position:sticky;
    float: left;
    margin-right: 50px;
    width: 200px;
    
}

.cat .cat-content a{
    color:black;
}

.cat .cat-content a:hover{
    color:#d78373;
}  */

.pro_lists{
    box-shadow: 2px 2px 2px 2px rgb(232, 167, 167);
    border-radius: 8px;
    padding: 30px;
    float: left;
    margin-left: 100px;
    margin-top:20px;
    /* background-color: #f1f1f1; */
    /* background: linear-gradient(rgb(241, 203, 203),#fff); */
    width: 1050px;
    
}

/* women's collection */
.products .pro_contents{
    margin-top:50px;
}


.products p a:hover{
    color:#000;
}

.pro_items{
    width: 290px;
    height: 520px;
    border: 1px solid #c8c8c8;
    background: linear-gradient(rgb(241, 203, 203),#fff);
    
    border-radius: 8px;
    padding: 25px;
    float: left;
    margin-left: 30px;
    margin-bottom: 40px;
    margin-top: 10px;
}

.pro_items img{
    width: 250px;
    height: 300px;
    border-radius: 8px;
    border-bottom: 1px solid #c8c8c8;
}



/* About us */
.abo_txt{
 text-align: center;
 width: 700px;
 margin-right: 50px;
 float: right;
 margin-top: 50px;
}

.abo_txt p{
    font-family: cursive;
    font-size: 20px;
}

.abo_img{
    width: 450px;
    float: left;
    border-radius: 100px;
    margin-top: 70px;
    margin-left: 50px;
}


/*---------Contact---------*/   
.contact-form .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  /* -----------Cart Start----------- */

  .cart-items {
    /* background-color: red; */
    /* display: flex; */
    margin-top: 100px;
    width: auto;
    height: auto;
    
}



.empty-cart {

    margin-top: 50px;
    border-radius: 10px;
    padding: 30px;
    background: linear-gradient(rgb(241, 203, 203),#fff);
    /* box-shadow: 5px 5px 5px gray; */
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nonempty-cart {
    padding: 30px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(rgb(241, 203, 203),#fff);
    /* box-shadow: 5px 5px 5px gray; */
    
    /* flex-direction: column; */

}

/* .empty-cart a,
.nonempty-cart a {
    text-decoration: none;
    

} */



button:hover {
    /* color: #f2a900;
    background-color: white; */
    transform: scale(0.9);
}

.total-div {
    height: 100px;
    margin: 0 auto;
    font-size: 2rem;
    font-weight: bold;
    /* background-color: red; */
    color:#000;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.internal-nonempty {
    display: flex;
    /* background-color: #f2a900; */
    /* justify-content: center; */


}

/* .internal-right {
    display: flex;
    flex-direction: column;
    width: 650px;

        
} */

/* .internal-right::after {
    content: "\a";
} */


#buy-more-button {
    color: #ffffff;
    background-color: rgb(69, 69, 69);
}


#buy-more-button:hover {
    color: #ffffff;
    background-color: #000;
}
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} */

.quantity {
    width: 40px;
    text-align: center;
}

table{
    color: #000;
}

a:hover{
    text-decoration: none;
}


/* contact */
.cont{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    margin-left: 220px;
    
}
  
  .cont a{
    padding: 12px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    color: #FFF;
    transition: .3s;
    font-size: 18px;
  }
  
  .cont a i{
    margin-right: 5px;
  }

.facebook{

    background: #4267B2;
    padding: 10px;
    border-radius: 8px;
    width: 200px;
    margin: 20px;
  }
  
  .facebook:hover{
    
    color: #000;
  }
  
  .pinterest{
    background: #f40c0c;
    padding: 10px;
    border-radius: 8px;
    width: 200px;
  }
  
  .pinterest:hover{
    
    color: #000;
  }
  
  .instagram{
    background: #fc4242; 
    padding: 10px;
    border-radius: 8px;
    width: 200px;
  }
  
  .instagram:hover{
    
    color: #000;
  }
  
  .fin{
   /* box-shadow: 0 0 5px rgba(0,0,0,.3);*/
   border: 1px solid #000;
    border-radius: 8px; 
    padding: 5px 43px;
    height: 465px;
    width: 300px;
    display: block;
    margin-left: 470px;
    background-color: #e2e0fb;
    margin-top: 140px;
  }











  